html, body{
  height: 100%;
  margin: 0;

}

body{
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webgl{
  display: none;
}

/* Header section */
.o-header{
  display: flex;
  position: fixed;
  background-color: #97BF0D;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 3rem;
  margin: 0;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.o-header h1{
  margin-left: 0.625rem;
}
.o-optionsBtns{
  display: flex;
}
.o-sound{
  display: flex;
  align-items: center;
  margin-right: 0.625rem;
}
.o-volumeSlider{
  display: none;
  -webkit-appearance: none;
  width: 6rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(219, 219, 219, 0.658);
  transition: 1000ms;
}
.o-volumeSlider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #E87140;
  cursor: pointer;
}
/* Header section end */

/* Controls information */
.o-controlsInfo{
  display: none;
  align-items: flex-start;
  justify-content: center;
  background-color: #232127c4;
  color: #FFFFFF;
  border-radius: 0.25rem;
  padding: 1rem;
  width: 45rem;
  height: 7.5rem;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  bottom: 10%;
  z-index: 1;
  animation: showControls 3s 1 ease;
  /* transition: 1000ms ease-in; */
}
.o-controlsInfo p{
  margin: 0 0.5rem;
}
.o-keysInfo{
  border-right: 1px solid #FFFFFF;
}
.o-keyOptions, .o-keys{
  display: flex;
}
.o-keyOptions{
  justify-content: space-between;
  margin: 1rem 0 0 0;
}
.o-key{
  min-width: 3rem;
  height: 3rem;
  border: 2px solid #FFFFFF;
  border-radius: 0.25rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}
@keyframes showControls {
  0%{opacity: 0;}
  100%{opacity: 1;}
  /* 50%{transform: translateY(100%);} */
}
.o-mouseMove{
  margin: 1rem 0 0 0;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
}
.o-mouseIcon{
  animation: move 1.5s infinite alternate ease-in-out;
  position: relative;
}
@keyframes move{
  0%{left: -2rem}
  100%{left: 2rem}
}
/* Controls information end */

/* Lab information cards */
.o-container{
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 15%;
  /* left: 50%; */
}
@keyframes show {
  50%{transform: translateY(100%);}
}
.o-information{
  width: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  animation: show 3s -2s 1 ease;
}
div h3{
  margin: 0.25rem 0 0.25rem 0;
}
.o-information p{
  font-family: 'Raleway', sans-serif;
}
.o-desitionButtons{
  display: flex;
  justify-content: center;
}
.o-principal{
  margin: 1rem 0 0 0;
  width: 10rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 4rem;
  border:none;
  color: #FFFFFF;
  background-color: #232127;
  cursor: pointer;
  align-self: center;
  transition: 100ms;
}
.o-principal:hover{
  background-color: #E87140;
  transform: scale(1.1);
}
.o-secundario{
  margin: 1rem 0.75rem 0 0;
  width: 10rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 4rem;
  border: 2px solid #E87140;
  color: #E87140;
  background-color: #FFFFFF;
  cursor: pointer;
  align-self: center;
  transition: 100ms;
}
.o-secundario:hover{
  background-color: #E87140;
  color: #FFFFFF;
  transform: scale(1.1);
}
.o-principal:disabled{
  background:#c4c4c4;
  cursor: no-drop;
}
.o-modal{
  display: none;
  position: absolute; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.644); 
  animation: modalAnimation 0.5s 1 ease;
}
@keyframes modalAnimation {
  0%{transform: translateY(100%);}
}
.o-modalContent{
  position: relative;
  top: 15%;
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.o-videoContainer{
  position: relative;
  width: 50rem;
  top:50%
}
.o-videoContainer:hover .o-vvcontrols{
  display: flex;
}
.o-vvcontrols{
  display: none;
  width: 100%;
  background-color: aqua;
  position: absolute;
  bottom: 0.20rem;
  padding: 0.25rem 0;
  transition: 100ms;
  animation: reveal-controls 1s;
}
@keyframes reveal-controls{
from{opacity: 0;}
to{opacity: 1;}
}
.o-close, .o-crcButton{
  margin: 0 0 0 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E87140;
  transition: 100ms;
}
.o-close:hover, .o-crcButton:hover{
  color: #FFFFFF;
  background-color: #E87140;
  transform: scale(1.2);
  cursor: pointer;
}
.o-close{
  display: none;
}
.o-npcName{
  display: flex;
  justify-content: space-between;
}
/* Lab informaton cards end */